.eventType {
    display: inline;
}

.stickyForm {
    position: sticky;
    top: 0;
    z-index: 1000;
  }  

.eventFormContainer {
    /* border-bottom: 1px solid #ddd; */
    padding: 14px;   
    background-color: #404859;
    padding-bottom: 40px;
}


.EventForm {
    display: inline-flex;
}

.eventForm label {
    display: inline;
    align-items: center; /* Optional: To vertically align the text and the select field */
    text-align: left;
    padding: 5px;
    color: #ddd;
}

.EventForm label select {
    width: auto;
}

.EventForm input {
    text-align: left;
}

.EventForm input[type="submit"] {
    display: block;
}

.EventForm input[type="time"],
.EventForm input[type="date"] {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
}

.EventForm label .timePicker {
    margin-left: 1px;
}  

.EventForm label .datePicker {
    margin-left: 1px;
}  

.EventForm input[type="time"]:focus,
.EventForm input[type="date"]:focus {
    outline: none;
    border-color: #aaa;
    box-shadow: 0 0 10px 1px rgba(0,0,0,.1);
}

.EventForm select {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
    margin-left: 0;
}

.EventForm select:focus {
    outline: none;
    border-color: #aaa;
    box-shadow: 0 0 10px 1px rgba(0,0,0,.1);
}

.EventForm input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #007BFF;
    cursor: pointer;
    transition: all 0.3s ease;
}

.EventForm input[type="submit"]:hover {
    background-color: #0056b3;
}

.EventForm div {
    color: #ddd;
}

.submitEventButton {
    color: black;
    background-color: #cae3d4;;
}