.EventForm label {
    display: block;
    text-align: left;
    margin-left: 5%;
}

.EventForm input {
    text-align: left;
    margin-left: 5%;
}

.EventForm input[type="submit"] {
    display: block;
    margin-left: 5%;
}
