.dashboardContainer {
/* border: 1px solid #ddd; */
    padding: 10px;  /* Add some space around the content inside the border */
    margin: auto;
    background-color: #282c34;
    width: 80%;
    margin-top: 28px;
    box-shadow: 12px 8px 20px 0px rgba(0, 0, 0, 0.5);
    height: 300px;
}

.tab-label {
    color: #fff !important;
}

.tab-content {
    color: white !important;
}
