@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background-color: #282c34;*/
  background-color: #404859;
  min-height: 15vh;
  display: block;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .stickyHeader{
  position: sticky;
  top: 0;
  z-index: 1000;
}   */

.App-content {
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* background-color: #404859; */
  background-color: #61697a;
}

.custom-border-color {
  border-color: #bba2a2;
}

.custom-text-color {
  /* color: #bba2a2 */
  color: #cae3d4;
}

.App-header h1 {
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  font-size: 4em;
  font-family: 'Nunito Sans', sans-serif;
}

.pawprint {
  height: 80px !important;
  width: 80px !important;
}

