.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
}

/* .EventForm label {
  display: flex;      Make the label's child elements to line up in a row 
   align-items: center;   Optional: Align the child elements vertically in the middle 
  gap: 1rem;      Optional: Add some gap between the child elements 
  text-align: left;
  margin-left: 5%;
}

.EventForm input {
  margin-left: 0;     Remove left margin for inputs to align them properly 
}

.EventForm .dateTimePicker {
  display: flex;      Make the label's child elements to line up in a row 
  align-items: center;    Optional: Align the child elements vertically in the middle 
}

.EventForm .dateTimePicker input {
  margin-left: 0;     Remove left margin for inputs to align them properly 
}

.EventList {
  padding-left: 20px;
  margin-left: 20px;
  border-left: 1px solid #ddd;
}

.eventListContainer {
  border: 1px solid #c0a7a7;   Add a border around the event list 
  padding: 10px;   Add some space around the content inside the border 
  margin: 10px;    Add some space around the border itself 
}
 */
